<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Document</title>
</head>
<body>
    <div class="header_body">
      
        <div class="logo_div">
           <a href="/"><img class="logo" src="/images/logo-transparent.png" alt="" srcset=""></a> 
        </div>
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/service">Service</a></li>
                <li><a href="/before_and_after">Before / After</a></li>
                <li><a href="/appointment">Appoitment</a></li>
                <li><a href="/contact_us">Contact Us</a></li>
            </ul>

        </div>
        <div class="info_div">
           
            <div class="phone_div">
                <div class="icon"><img src="images/viber.png" alt=""></i></div>
                <div class="phone_number">(707)777-7747</div>
                
            </div>
            <div class="email_div">
                <div class="icon"><img src="images/email.png" alt="" srcset=""></div>
                <div class="email_address">info@international-collision.com</div>
            </div>
            <div class="address_div">
                <div class="icon"><img src="images/pin.png" alt="" srcset=""></div>
                <div class="address">7049 Valjean Ave Van Nuys, CA 91406</div>
            </div>
        </div>
        
    </div>

</body>
</html>