<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/before_and_after.css">
    <title>International Auto Collision Center</title>
</head>

<%- include("partials/header") %>

<div class="body">

    <div id="box1">
    
        <figure>
            <div id="divisor"></div>
        </figure>
        <input type="range" min="0" max="100" value="50" id="slider" oninput="moveDivisor()">

    </div>

</div>

<script>

    var divisor = document.getElementById("divisor"),
        slider = document.getElementById("slider");


    function moveDivisor() {
        divisor.style.width = slider.value + "%";
        console.log(slider.value)
    }
    
    
</script>
<%- include("partials/footer") %>

</html>